body {
    background-color: #f1c9d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.card {
 background-color: #b6637c;
 width: 300px;
 padding: 20px;
 text-align: center;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba (0,0,0,0.1)
}

.card img {
    width: 100px;
    border-radius: 50%;
}

button {
    background-color: #aa4261;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a34d67;
}